:host {
  height: 100%;
  padding: 1em;
  overflow: scroll;

  section.legend, section.calendar {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5em;
  }

  section.legend {
    position: sticky;
    top: 0;
    background-color: red;
  }

  section.calendar {
    span.month {
      grid-column: 1 / span 7;
      justify-self: left;
    }

    span.day {
      width: 100%;
      aspect-ratio: 1 / 1;
      border: 1px solid blue;
      border-radius: 50%;
      display: grid;
      place-items: center;
    }
  }
}
