@use '@angular/material' as mat;

@mixin component-colors($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  section.legend {
    background-color: mat.get-color-from-palette($accent, 800) !important;
    color: mat.get-color-from-palette($primary, 900) !important;
  }

  section.calendar {
    article.month {
      .day {
        border-color: mat.get-color-from-palette($primary, 400) !important;
        color: mat.get-color-from-palette($accent, 50) !important;

        &[current] {
          background-color: mat.get-color-from-palette($accent, 900) !important;
          color: mat.get-contrast-color-from-palette($primary, 900) !important;
        }

        &.red {
          border-color: mat.get-color-from-palette($accent, 900) !important;
        }
      }
    }
  }
}

:host {
  min-height: 1px;
  overflow-y: auto;

  section.legend, section.calendar {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(7, 1fr);
    gap: 0.5em;
  }

  section.legend {
    padding: 0.2em 1em;
    position: sticky;
    z-index: 1;
    top: 0;

    h2 {
      margin: 4px 0 -2px;
      font-size: 6vw;
      font-weight: 800;
    }
  }

  section.calendar {
    padding: 1em;

    article.month {
      display: contents;

      span.label {
        margin: 1.2em 0 0.4em;
        grid-column: 1 / span 7;
        justify-self: left;
        font-size: 6vw;
        text-transform: capitalize;
      }

      .day {
        box-sizing: border-box;
        width: 100%;
        aspect-ratio: 1 / 1;
        border: 2px solid;
        border-radius: 50%;
        display: grid;
        place-items: center;
        text-decoration: none;
        font-size: 5vw;
        font-weight: 500;
      }
    }
  }
}
