<section class="legend">
  <h2>P</h2>
  <h2>W</h2>
  <h2>Ś</h2>
  <h2>C</h2>
  <h2>P</h2>
  <h2>S</h2>
  <h2>N</h2>
</section>

<section class="calendar">
  <article class="month" *ngFor="let month of months">
    <span class="label">{{ month.name }} {{ month.year }}</span>
    <span *ngIf="month.offset" style="grid-column: 1 / span {{ month.offset }}"></span>
    <a matRipple [routerLink]="['/today', month.year, month.index, day.index]" class="day" [ngClass]="day.color" *ngFor="let day of month.days">{{ day.index }}</a>
  </article>
</section>
