<section class="legend">
  <h2>P</h2>
  <h2>W</h2>
  <h2>Ś</h2>
  <h2>C</h2>
  <h2>P</h2>
  <h2>S</h2>
  <h2>N</h2>
</section>

<section class="calendar">
  <article class="month" *ngFor="let month of months">
    <span class="label">{{ month.name }} {{ month.year }}</span>
    <span *ngIf="month.offset" style="grid-column: 1 / span {{ month.offset }}"></span>
    <ng-container *ngFor="let day of month.days">
      <a matRipple *ngIf="day.color === 'red'" [routerLink]="['/today', month.year, month.index, day.index]" class="day" [ngClass]="day.color" >{{ day.index }}</a>
      <span matRipple *ngIf="day.color !== 'red'" class="day">{{ day.index }}</span>
    </ng-container>

  </article>
</section>
