@use '@angular/material' as mat;

@mixin component-colors($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  mat-toolbar {
    background-color: mat.get-color-from-palette($accent, 900) !important;
    color: mat.get-color-from-palette($primary, 900) !important;
    button.mat-mdc-button.active {
      color: mat.get-color-from-palette($accent, 100) !important;
    }
  }

  app-root {
    background-color: mat.get-color-from-palette($primary, 900) !important;
    color: mat.get-color-from-palette($accent, 50) !important;
  }
}

:host {
  // noinspection CssInvalidPropertyValue
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  mat-toolbar {
    z-index: 1;
    margin-top: auto;
    justify-content: space-around
  }
}
