<router-outlet></router-outlet>

<mat-toolbar>
  <button #month mat-button [disabled]="this.isActive(month)" color="primary" routerLink="calendar" routerLinkActive="active">
    <mat-icon>calendar_month</mat-icon>
    <span>Kalendarz</span>
  </button>

  <button #today mat-button [disabled]="this.isActive(today)" color="primary" routerLink="today" routerLinkActive="active">
    <mat-icon>today</mat-icon>
    <span>Dziś</span>
  </button>

  <button #settings mat-button [disabled]="this.isActive(settings)" color="primary" routerLink="settings" routerLinkActive="active">
    <mat-icon>settings</mat-icon>
    <span>Ustawienia</span>
  </button>
</mat-toolbar>
