@use '@angular/material' as mat;

@mixin component-colors($theme) {
  $accent: map-get($theme, accent);
  $primary: map-get($theme, primary);
  $warn: map-get($theme, warn);

  mat-chip-option {
    .mat-mdc-chip-action-label {
      color: mat.get-contrast-color-from-palette($primary, 900) !important;
    }

    &[color='accent'] {

      .mat-mdc-chip-action-label {color: mat.get-contrast-color-from-palette($primary, 600) !important;}

      background-color: mat.get-color-from-palette($accent, 900) !important;
    }

    &:not([color='accent']) {
      color: mat.get-contrast-color-from-palette($primary, 600) !important;
      background-color: mat.get-color-from-palette($primary, 900) !important;
    }
  }

  .custom-select {
    label[matformfieldfloatinglabel] {
      color: mat.get-contrast-color-from-palette($primary, A700) !important;
    }

    span.mat-mdc-select-value-text {
      color: mat.get-contrast-color-from-palette($primary, A700) !important;
    }

    .mat-mdc-select-arrow {
      color: mat.get-color-from-palette($accent, 900) !important;
    }

    .mdc-notched-outline__leading, .mdc-notched-outline__notch, .mdc-notched-outline__trailing {
      border-color: mat.get-color-from-palette($accent, 900) !important;
    }
  }

  .custom-panel {
    background-color: mat.get-color-from-palette($primary, 800) !important;
    .mdc-list-item__primary-text {
      color: mat.get-contrast-color-from-palette($primary, A700) !important;
    }
  }

  mat-toolbar {
    background-color: mat.get-color-from-palette($accent, 900) !important;
    color: mat.get-color-from-palette($primary, 900) !important;
    button.mat-mdc-button.active {
      color: mat.get-contrast-color-from-palette($primary, 900) !important;
    }
  }

  app-root {
    background-color: mat.get-color-from-palette($primary, 900) !important;
    color: mat.get-contrast-color-from-palette($primary, 900) !important;
  }
}

:host {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  mat-toolbar {
    flex-shrink: 0;
    z-index: 1;
    margin-top: auto;
    justify-content: space-around
  }
}
