:host {
  // noinspection CssInvalidPropertyValue
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: stretch;

  mat-toolbar {
    z-index: 1;
    height: auto;
    margin-top: auto;
    justify-content: space-around
  }
}
