// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use 'node_modules/@angular/material/index' as mat;
// Plus imports for other components in your app.
@use 'src/app/calendar/calendar.component' as calendar;
// Material theme palettes
@use 'src/styles/primary-light' as primary-light;
@use 'src/styles/primary-dark' as primary-dark;
@use 'src/styles/accent-pjpl' as accent-pjpl;

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$frontend-light-primary: mat.define-palette(primary-light.$palette);
$frontend-dark-primary: mat.define-palette(primary-dark.$palette);
$frontend-accent: mat.define-palette(accent-pjpl.$palette);
$frontend-warn: mat.define-palette(mat.$orange-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$frontend-light-theme: mat.define-light-theme((
  color: (
    primary: $frontend-light-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
  )
));

$frontend-dark-theme: mat.define-dark-theme((
  color: (
    primary: $frontend-dark-primary,
    accent: $frontend-accent,
    warn: $frontend-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-typographies($frontend-dark-theme); // TODO: Include only styles that we use
@include mat.all-component-themes($frontend-light-theme);
@include calendar.component-colors($frontend-light-theme);

.dark {
  @include mat.all-component-colors($frontend-dark-theme);
  @include calendar.component-colors($frontend-dark-theme);
}

/* You can add global styles to this file, and also import other style files */
@import 'global';
