$palette: (
  50 : #ffffff,
  100 : #ffffff,
  200 : #ffffff,
  300 : #fefefe,
  400 : #fefefe,
  500 : #fefefe,
  600 : #fefefe,
  700 : #fefefe,
  800 : #fefefe,
  900 : #fdfdfd,
  A100 : #ffffff,
  A200 : #ffffff,
  A400 : #ffffff,
  A700 : #ffffff,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #000000,
    400 : #000000,
    500 : #000000,
    600 : #000000,
    700 : #000000,
    800 : #000000,
    900 : #000000,
    A100 : #000000,
    A200 : #000000,
    A400 : #000000,
    A700 : #000000,
  )
);
