<mat-list>
  <div mat-subheader>Wybór grup</div>
  <mat-list-item>
    <mat-chip-list>
      <mat-chip *ngFor="let group of groupService.selectedGroups$ | async">
        {{ group.name }}
        <mat-icon matChipRemove (click)="groupService.removeGroup(group.id)">cancel</mat-icon>
      </mat-chip>
      <button mat-icon-button color="primary" (click)="openGroupChooser()">
        <mat-icon>add</mat-icon>
      </button>
    </mat-chip-list>

  </mat-list-item>
  <mat-divider></mat-divider>
  <div mat-subheader>Filtrowanie</div>
  <mat-list-item>
  </mat-list-item>
  <mat-divider></mat-divider>
  <div mat-subheader>Synchronizacja</div>
  <mat-list-item>
  </mat-list-item>
</mat-list>
