<mat-list #list
  infinite-scroll
  appScrollToCurrent
  [disableScrollToCurrent]="disableScrollToCurrent"
  (scrolled)="onScrollDown($event)"
  (scrolledUp)="onScrollUp($event)"
  [scrollWindow]="false"
>
  <ng-container *ngFor="let day of days | async">
    <ng-container *ngIf="!day.subjects">
      <mat-list-item>
        No data for {{ day.timestamp | date: 'MMM d, y': '': 'pl-PL' }}
      </mat-list-item>
    </ng-container>
    <ng-container *ngFor="let subject of day.subjects">
      <mat-list-item [attr.current]="subject.current ? '' : null" class="subject" mat-ripple>
        <mat-label mat-line>Sala: {{ subject.room }}</mat-label>
        <span mat-line>Od: {{ subject.from * 1000 | date: 'MMM d, y, HH:mm': '': 'pl-PL' }}</span>
        <span mat-line>Do: {{ subject.to * 1000 | date: 'MMM d, y, HH:mm': '': 'pl-PL' }}</span>
        <ul>
          <li *ngFor="let info of iterate(subject.additionalData)" mat-line>
            {{ info[0] }}: {{ info[1] }}
          </li>
        </ul>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </ng-container>
</mat-list>
