::ng-deep .subject > .mat-list-item-content {
  flex-direction: column !important;
  align-items: flex-start !important;
}

:host {
  min-height: 1px;
  mat-list {
    height: 100%;
    overflow-y: auto;
  }
}
